/AcademicManagement-ejb/build/
/AcademicManagement-ejb/dist/
dist/gfdeploy/AcademicManagement/gfv3ee6.dpf
dist/gfdeploy/AcademicManagement/AcademicManagement-war_war/WEB-INF/classes/web/AdministratorManager$5.class
dist/gfdeploy/AcademicManagement/AcademicManagement-ejb_jar/entities/Cargo_.class
dist/gfdeploy/AcademicManagement/AcademicManagement-ejb_jar/entities/Cargo.rapt
dist/gfdeploy/AcademicManagement/AcademicManagement-ejb_jar/entities/Cargo.class
dist/gfdeploy/AcademicManagement/AcademicManagement-ejb_jar/ejbs/CargoBean.class
dist/gfdeploy/AcademicManagement/AcademicManagement-ejb_jar/dtos/CargoDTO.class
dist/gfdeploy/AcademicManagement/AcademicManagement-ejb_jar/dtos/AdministratorDTO.class
build/gfv3ee6.dpf
AcademicManagement-war/build/web/WEB-INF/classes/web/AdministratorManager$5.class
AcademicManagement-ejb/nbproject/project.properties
AcademicManagement-ejb/nbproject/private/private.xml
AcademicManagement-ejb/nbproject/private/private.properties
dist/gfdeploy/AcademicManagement/AcademicManagement-war_war/admin/admin_students_create.xhtml
dist/gfdeploy/AcademicManagement/AcademicManagement-war_war/admin/admin_index.xhtml
dist/gfdeploy/AcademicManagement/AcademicManagement-war_war/WEB-INF/web.xml
dist/gfdeploy/AcademicManagement/AcademicManagement-war_war/WEB-INF/classes/web/AdministratorManager$1.class
dist/gfdeploy/AcademicManagement/AcademicManagement-ejb_jar/entities/User_.class
dist/gfdeploy/AcademicManagement/AcademicManagement-ejb_jar/entities/UserGroup_.class
dist/gfdeploy/AcademicManagement/AcademicManagement-ejb_jar/entities/User.class
dist/gfdeploy/AcademicManagement/AcademicManagement-ejb_jar/entities/Teacher_.class
dist/gfdeploy/AcademicManagement/AcademicManagement-ejb_jar/entities/Subject_.class
dist/gfdeploy/AcademicManagement/AcademicManagement-ejb_jar/entities/Student_.class
dist/gfdeploy/AcademicManagement/AcademicManagement-ejb_jar/entities/Document_.class
dist/gfdeploy/AcademicManagement/AcademicManagement-ejb_jar/entities/Course_.class
dist/gfdeploy/AcademicManagement/AcademicManagement-ejb_jar/entities/Administrator_.class
dist/gfdeploy/AcademicManagement/AcademicManagement-ejb_jar/entities/Administrator.class
dist/gfdeploy/AcademicManagement/AcademicManagement-ejb_jar/ejbs/ConfigBean.class
dist/gfdeploy/AcademicManagement/AcademicManagement-ejb_jar/ejbs/AdministratorBean.class
dist/gfdeploy/AcademicManagement/AcademicManagement-ejb_jar/META-INF/persistence.xml
dist/AcademicManagement.ear
build/AcademicManagement-war.war
AcademicManagement-war/build/web/admin/admin_index.xhtml
AcademicManagement-war/build/web/WEB-INF/web.xml
AcademicManagement-war/build/web/WEB-INF/classes/web/AdministratorManager.class
AcademicManagement-war/build/web/WEB-INF/classes/web/AdministratorManager$4.class
AcademicManagement-war/build/web/WEB-INF/classes/web/AdministratorManager$3.class
AcademicManagement-war/build/web/WEB-INF/classes/web/AdministratorManager$2.class
AcademicManagement-war/build/web/WEB-INF/classes/web/AdministratorManager$1.class
dist/gfdeploy/AcademicManagement/AcademicManagement-war_war/WEB-INF/classes/web/AdministratorManager.class
dist/gfdeploy/AcademicManagement/AcademicManagement-war_war/WEB-INF/classes/web/AdministratorManager$4.class
dist/gfdeploy/AcademicManagement/AcademicManagement-war_war/WEB-INF/classes/web/AdministratorManager$3.class
dist/gfdeploy/AcademicManagement/AcademicManagement-war_war/WEB-INF/classes/web/AdministratorManager$2.class
build/AcademicManagement-ejb.jar
AcademicManagement-war/dist/AcademicManagement-war.war
AcademicManagement-war/build/web/admin/admin_students_create.xhtml


/nbproject/
/dist/
/build/
/AcademicManagement-war/build/
/AcademicManagement-war/nbproject/
/AcademicManagement-war/setup/
/AcademicManagement-war/dist/
/AcademicManagement-ejb/dist/
/AcademicManagement-ejb/nbproject/
/AcademicManagement-ejb/setup/
/AcademicManagement-ejb/build/
/AcademicManagement-ejb/nbproject/*
/AcademicManagement-ejb/setup/*
/AcademicManagement-ejb/src/conf/
/AcademicManagement-ejb/src/conf/*
nbproject/private/private\.properties
*/build.xml
 
*.properties
/nbproject/private/
/AcademicManagement-war/nbproject/private/
/AcademicManagement-ejb/nbproject/private/
build\.xml